.boxForm {
  width: 100%;
  max-width: 591px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.titleForm {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
  margin-bottom: 30px;
  color: #E6E6E6;

  @media (max-width: 769px) {
    font-size: 33px;
    line-height: 44px;
  }
  
  span {
    font-weight: 400;
    background: linear-gradient(90deg, #00C2FF 0%, #00FF0A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.descriptionForm {
  width: 100%;
  max-width: 420px;
  font-size: 16px;
  line-height: 33px;
  color: #E6E6E6;
  margin-bottom: 30px;
}

.mobileImage {
  display: none;
  width: auto;
  transform: scale(1.8);

  @media (max-width: 769px) {
    display: block;
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 500;

  @media (max-width: 769px) {
    margin-bottom: 60px;
  }
}
