.blur {
  border-radius: 50%;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  filter: blur(150px);
}

.blue {
  background: #00C2FF;
}
.green {
  background: #05FF00;
}
.topLeft {
  width: 227px;
  height: 227px;
  top: 11px;
  left: -171px;

  @media (max-width: 769px) {
    top: 82vh;
    left: -184px;
  }
}
.topRight {
  width: 273px;
  height: 273px;
  top: 20px;
  right: -216px;

  @media (max-width: 769px) {
    top: 60px;
    right: -155px;
  }
}
.bottomLeft {
  width: 229px;
  height: 229px;
  bottom: -102px;
  left: -266px;

  @media (max-width: 769px) {
    width: 387px;
    height: 387px;
    bottom: -326px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bottomRight {
  width: 227px;
  height: 227px;
  bottom: -84px;
  right: -184px;

  @media (max-width: 769px) {
    top: 40%;
    left: -184px;
    display: none;
  }
}

.section {
  width: 100%;
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px;

  .imageArt {
    width: 100%;
    max-width: 900px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    @media (max-width: 769px) {
      display: none;
    }
  }
}

.boxForm {
  width: 100%;
  max-width: 591px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .titleForm {
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 30px;
    color: #E6E6E6;

    @media (max-width: 769px) {
      font-size: 33px;
      line-height: 44px;
    }
    
    span {
      font-weight: 400;
      background: linear-gradient(90deg, #00C2FF 0%, #00FF0A 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  .descriptionForm {
    width: 100%;
    max-width: 420px;
    font-size: 16px;
    line-height: 33px;
    color: #E6E6E6;
    margin-bottom: 30px;
  }
 
  .mobileImage {
    display: none;
    width: auto;
    transform: scale(1.8);

    @media (max-width: 769px) {
      display: block;
    }
  }
}