.main { 
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0 32px;
}

.header {
  width: 100%;
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin: 68px auto 48px;
}

.blur {
  border-radius: 50%;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  filter: blur(150px);

  & .blue {
    background: #00C2FF;
  }
  & .green {
    background: #05FF00;
  }
  & .topLeft {
    width: 227px;
    height: 227px;
    top: 11px;
    left: -171px;
  }
  & .topRight {
    width: 273px;
    height: 273px;
    top: 20px;
    right: -216px;
  }
  & .bottomLeft {
    width: 229px;
    height: 229px;
    bottom: -102px;
    left: -266px;
  }
  & .bottomRight {
    width: 227px;
    height: 227px;
    bottom: -84px;
    right: -184px;
  }
}

.section {
  width: 100%;
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px;

  .imageArt {
    width: 100%;
    max-width: 950px;
    position: absolute;
    right: -10%;
    top: 0;
    z-index: -1;
  }
}

.boxForm {
  width: 100%;
  max-width: 591px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .titleForm {
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 30px;
    color: #E6E6E6;
    
    span {
      font-weight: 400;
      background: linear-gradient(90deg, #00C2FF 0%, #00FF0A 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  .descriptionForm {
    width: 100%;
    max-width: 420px;
    font-size: 16px;
    line-height: 33px;
    color: #E6E6E6;
    margin-bottom: 30px;
  }
  form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}