@font-face {
  font-family: 'clock';
  src: url('../../public/font/alarm-clock.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
}
html,body{
  -webkit-overflow-scrolling : touch !important;
  overflow: auto !important;
  height: 100% !important;
}
body {
  background: #0D0F10;

  main { 
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    // &:has(footer) {
    //   footer {
    //     padding: 0 32px calc(120px + 55px);
    //   }
    // }
  
    // @media (max-width: 769px) {
    //   &:has(footer) {
    //     footer {
    //       padding: 0 42px calc(120px + 55px);
    //     }
    //   }
    // }
  }
}
input, textarea {
  outline: 0;
  border: 0;
}

::-webkit-scrollbar   {
  background: #09090A;
  width: 10px; 
  border-radius: 15px;
}
 
// ::-webkit-scrollbar-track      {
//   background: #09090A;
//   border-radius: 15px;
// }
// ::-webkit-scrollbar-track-piece{
//   background: #09090A;
//   border-radius: 15px;
// }
::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(to top, #00C2FF 0%, #00FF0A 100%);
  border-radius: 15px;
  width: 5px;
  border: .5px solid #e8e8e8;
}
::-webkit-scrollbar-corner     {
  background-color: #09090A;
  border-radius: 15px;
}

.slick-slider {
  .slick-list {
    transform: none !important;
    width: 100%;

    .slick-track {
      width: 100%;
      display: flex;
      gap: 40px;
      align-items: flex-start;
    }
  }
}
