.card {
  width: 394px;
  height: 286px;
  padding: 40px;
  border-radius: 10px;
  background: #191D1F;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: relative;

  @media (max-width: 768px) {
    max-width: 250px;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 1px; 
    background: linear-gradient(to right, #00C2FF 20%, #00FF0A 50%, #191D1F 75%); 
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
    pointer-events: none;
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .contentText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      align-items: center;
      background: linear-gradient(90deg, #00C2FF -16.26%, #00FF0A 175.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      color: #E6E6E6;

      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}