.header {
  width: 100%;
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 74px auto 42px;
  


  @media (max-width: 769px) {
    margin: 42px auto 60px;

    img {
      width: 110px;
    }
  }
}