.header {
  width: 100%;
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 74px auto 42px;
  padding: 100px 32px 0;
  

  @media (max-width: 769px) {
    margin: 42px auto 60px;
    padding: 0 42px;
  }

  img {
    @media (max-width: 769px) {
      width: 110px;

      &:first-child {
        height: 26px;
      }
      &:last-child {
        height: 45px;
      }
    }
  }
}