.blur {
  border-radius: 50%;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  filter: blur(80px);
}

.blue {
  background: #00C2FF;
}
.green {
  background: #05FF00;
}
.topLeft {
  width: 227px;
  height: 227px;
  top: 0;
  left: -171px;

  @media (max-width: 769px) {
    top: 82vh;
    left: -184px;
  }
}
.topRight {
  width: 273px;
  height: 273px;
  top: 0;
  right: -216px;

  @media (max-width: 769px) {
    top: 60px;
    right: -155px;
  }
}
.bottomLeft {
  width: 229px;
  height: 229px;
  bottom: -102px;
  left: -266px;

  @media (max-width: 769px) {
    width: 387px;
    height: 387px;
    bottom: -326px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
}
.bottomRight {
  width: 227px;
  height: 227px;
  bottom: -84px;
  right: -184px;

  @media (max-width: 769px) {
    top: 40%;
    left: -184px;
    display: none;
  }
}

.section {
  width: 100%;
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px;
}
.boxImg {
  position: relative;
  width: 100%;
  max-width: 661px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 769px) {
    display: none;
  }

  
  .blurImage {
    border-radius: 50%;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
    filter: blur(180px);
    background: #05FF00;
  }

  .imageArt {
    width: 100%;
    max-width: 661px;
    z-index: 0;
  }

  .bottomLeftImage {
    width: 209px;
    height: 209px;
    left: -20px;
    bottom: 40px;
  }

  .bottomRightImage {
    width: 157px;
    height: 157px;
    right: 33px;
    bottom: 6px;
  }

  .topRightImage {
    width: 281px;
    height: 281px;
    top: 103px;
    right: 53px;
  }
}


