.contentDefault {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerHome {
  justify-content: space-between;
}
.footer {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #0D0F10;
  position: relative;
  padding: 32px 42px;

  @media (max-width: 768px) {
    gap: 42px;
    padding: 42px;
    height: 82px;
  }

  &::after {
    content: "";
    height: 1px;
    position: absolute;
    inset: 0 0 auto;
    background: linear-gradient(90deg, #00C2FF 0%, #00FF0A 100%);
  }

  .contentDefault {
    .boxBackStart {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.imgFooter {
  width: 143px;
}

.contentSocial {
  display: flex;
  gap: 30px;
}

.boxSocial {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(90deg, #00C2FF 0%, #00FF0A 100%);
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, #00FF0A 0%, #00FF0A 100%);
  }
}
.boxBackStart {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
    line-height: 20px;
    color: #E6E6E6;
  }
}

.contentMobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}